<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>

<body>

<div class="card text-center" style="margin-left: 2em; margin-right: 2em; margin-top: 1em">
    <h2 class="card-header">Gestionnaire de Relation Client</h2>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Opérations</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer: ${customers}">
                <th th:text="${customer.id}"></th>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.email}"></td>
                <td>
                    <button type="button" class="btn btn-primary">Modifier</button>
                    <button type="button" class="btn btn-danger">Supprimer</button>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="/saveCustomerForm" class="btn btn-success">Ajouter Client</a>
    </div>
</div>

</body>
</html>