<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voici un être humain</title>
</head>
<body>

<h2>Voici un être humain</h2>
<p th:text="'Nom : ' + ${person.lastName}"></p>
<p th:text="'Prénom : ' + ${person.firstName}"></p>
<p th:text="'Pays : ' + ${person.country}"></p>
<p th:text="'Language de programmation : ' + ${person.favoriteLanguage}"></p>

OS Utilisés :
<ul>
    <li th:each="os: ${person.os}" th:text="${os}"></li>
</ul>

</body>
</html>