<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entrer les infos d'une personne</title>
</head>
<body>
<h2>Ajout d'une personne</h2>

<form th:action="@{/person/processForm}" th:object="${person}" method="post">
    First Name:
    <input type="text" th:field="*{firstName}" />
    <br/>
    Last Name:
    <input type="text" th:field="*{lastName}" />
    <br/>
    Contry:
    <select th:field="*{country}">
        <option value="France" label="France"/>
        <option value="Allemagne" label="Allemagne"/>
        <option value="Espagne" label="Espagne"/>
        <option value="Italie" label="Italie"/>
    </select>
    <br/>
    <input type="submit" value="Create" />
</form>
</body>
</html>